{% extends 'car_base.html' %}
{% load static %}

{% block title %}
<title>Manual Cars</title>
{% endblock %}

{% block content %}
<section class="ftco-section ftco-no-pt bg-light">
    <div class="container mt-5">
        <div class="row justify-content-center">
        </div>
        <div class="row">
            {% for i in manual %}
            <div class="col-md-4">
                <div class="car-wrap rounded ftco-animate">
                    <div class="img rounded d-flex align-items-end" style="background-image: url('{{i.image.url}}'); height: 200px; background-size: cover;">
                    </div>
                    <div class="text">
                        <h2 class="mb-0"
                            style=" white-space: nowrap;text-overflow: ellipsis;overflow: hidden; ">
                            {{i.name}}</h2>
                        <div class="mb-3">
                            <p class="price ml-auto">AED {{i.rent}} <span>/day</span></p>
                        </div>
                        {% if user.is_superuser %}
                                         <p class="text-center"><a href="{% url 'cars:car_details' i.id %}" class="btn btn-secondary py-2 ml-1 mt-2" style="width: 180px;">Details</a></p>
                                    {% else %}
                                        <p class="d-flex mb-0 d-block"><a
                                            href="
                                            {% if user.is_authenticated %}
                                            {% url 'booking:bookcar' i.id %}
                                            {% else %}
                                            {% url 'user:login' %}
                                            {% endif %}"
                                            class="btn btn-primary py-2 mr-1">Book now</a>
                                        <a href="{% url 'cars:car_details' i.id %}" class="btn btn-secondary py-2 ml-1">Details</a></p>
                                    {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
